#input-form {
  display: grid;
  padding: 10px;
  grid-template-areas: "title btns";
  grid-template-columns: 1fr 5vw;
  grid-template-rows: 1fr;

  background-color: var(--tr-bg-color);

  width: 100%;
  border-radius: 9px;
  align-items: center;
  margin: 0.6rem 0;
}

input::placeholder {
  color: var(--checkbox-hover-bg-color)
}

input {
  width: 100%;
  border: none;
  outline: none;
}

.div-title {
  margin-left: 1rem;
  grid-area: title;
  overflow: hidden;
  overflow-wrap: break-word;
}

.div-btns {
  grid-area: btns;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  #input-form {
    grid-template-columns: 1fr 10vw;
    margin: 1rem 0;
  }

  .div-row {
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-areas: "checkbox title btns";
    margin: 1rem 0;
  }
}
