#input-form {
  display: grid;
  padding: 1vw 1vw;
  grid-template-areas: "title btns";
  grid-template-columns: 1fr 2.5vw;
  grid-template-rows: 1fr;

  background-color: var(--tr-bg-color);

  min-height: 12vh;
  width: 100%;
  border-radius: 9px;
  align-items: flex-start;
  margin: 1rem 0;
}

textarea::placeholder {
  color: var(--accent-color);
}

textarea {
  width: 100%;
  border: none;
  outline: none;

  resize: none;

  height: 100%;
  text-justify: flex-start;

  color: var(--text-color);
}

.container-textarea {
  height: 100%;
  grid-area: title;
  overflow: hidden;
  overflow-wrap: break-word;
}

.div-btns {
  grid-area: btns;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  #input-form {
    grid-template-columns: 1fr 10vw;
    margin: 0.6rem 0;
  }
}
