.div-title {
  grid-area: title;
  overflow: hidden;
  overflow-wrap: break-word;
}

.complete {
  color: var(--accent-color);
  text-decoration: line-through;
}

.div-title > span {
  color: var(--text-color);
}

input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: var(--text-color);
}
