.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1.5rem;
}

.footer > span {
  color: var(--footer-color);
  user-select: none;
}

.footer a {
  color: var(--footer-color);
  text-decoration: none;
  margin-left: 0.5rem;
}
