div.div-table {
  background-color: var(--table-bg-color);
  border-radius: 12px;
  width: 100%;
  padding: 1rem 2rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  div.div-table {
    padding: 0.6rem 1.2rem;
  }
}
