div.div-table {
  background-color: var(--table-bg-color);
  border-radius: 12px;
  width: 100%;

  padding: 0.6rem 1.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Title */
div.div-title {
  grid-area: title;
  overflow: hidden;
  overflow-wrap: break-word;
}

.complete {
  color: var(--checkbox-hover-bg-color);
  text-decoration: line-through;
}

@media only screen and (min-width: 768px) {
  div.div-table {
    padding: 1rem 2rem;
  }
}
