div.div-checkbox {
  justify-self: center;
  align-self: center;
  grid-area: checkbox;

  display: block;
  position: relative;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  padding-left: 35px;
  margin-bottom: 25px;
}

.div-checkbox input {
  position: absolute;
  cursor: pointer;

  height: 0;
  width: 0;
  opacity: 0;
}

.checkmark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--table-bg-color);
}

.div-checkbox:hover input ~ .checkmark {
  background-color: var(--checkbox-hover-bg-color);
}

.div-checkbox input:checked ~ .checkmark {
  background-color: var(--checkbox-checked-bg-color);
}

.div-checkbox:hover input:checked ~ .checkmark {
  background-color: var(--checkbox-checked-hover-color);
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.div-checkbox input:checked ~ .checkmark::after {
  display: block;
}

.div-checkbox .checkmark::after {
  left: 9px;
  top: 3px;
  width: 7.5px;
  height: 15px;
  border: solid var(--checkbox-checkmark-color);
  border-width: 0 3.5px 3.5px 0;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
