@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");


:root {
  --header-height: 20vh;
  --footer-height: 12vh;

  --primary-color: #ffffff;
  --secondary-color: #d9d9d9;
  --accent-color: #284b63;
  --text-color: #353535;

  --primary-color-rgb: 255, 255, 255;
  --secondary-color-rgb: 217, 217, 217;
  --accent-color-rgb: 40, 75, 99;

  --header-color: var(--accent-color);
  --footer-color: var(--accent-color);
  --bg-color: var(--primary-color);
  --table-bg-color: var(--secondary-color);
  --tr-bg-color: var(--primary-color);
  --checkbox-hover-bg-color: rgba(var(--secondary-color-rgb), 0.5);
  --checkbox-checked-hover-color: rgba(var(--accent-color-rgb), 0.5);
  --checkbox-checked-bg-color: var(--accent-color);
  --checkbox-checkmark-color: #fff;
  --icons-color: var(--accent-color);
}

* {
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}

.app {
  margin: 0;
  height: 100vh;
  width: 100vw;

  overflow-y: visible;
  overflow-x: hidden;

  background: var(--bg-color);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    var(--header-height)
    1fr
    var(--footer-height);
  grid-template-areas:
    "header"
    "content"
    "footer";
}

header.header {
  grid-area: header;
}

main.content {
  grid-area: content;
}

footer.footer {
  grid-area: footer;
}
